<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979979882370-r3nb57kk1cu0brd1gasofetpl2ka6g3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979979882370-r3nb57kk1cu0brd1gasofetpl2ka6g3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAXICGCiS9PMQv8wAY9PvEIwDZD6FlU268</string>
	<key>GCM_SENDER_ID</key>
	<string>979979882370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tpiprogrammingclub</string>
	<key>PROJECT_ID</key>
	<string>tpiprogrammingclub</string>
	<key>STORAGE_BUCKET</key>
	<string>tpiprogrammingclub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979979882370:ios:70727b42ab7e2b78bf899b</string>
	<key>DATABASE_URL</key>
	<string>https://tpiprogrammingclub-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>